<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.easyc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/clogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/clogo"
        android:supportsRtl="true"
        android:theme="@style/C_theme">
        <activity
            android:name=".Views.sign_in"
            android:label="Easy C++"
            android:theme="@style/C_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.sign_up"
            android:label="create an account" />
        <activity android:name=".Views.student_menu" />
        <activity android:name=".Views.categories" />
        <activity android:name=".Views.show_opinions" />
        <activity android:name=".Views.show_opinion" />
        <activity android:name=".Views.put_opinion" />
        <activity android:name=".Views.topic" />
        <activity android:name=".Views.forget_password_username" />
        <activity android:name=".Views.show_Requests" />
        <activity android:name=".Views.showRequest" />
        <activity android:name=".Views.topic_description" />
        <activity android:name=".Views.discussion_room_questions" />
        <activity android:name=".Views.put_question_discussion" />
        <activity android:name=".Views.replies_on_questions" />
        <activity android:name=".Views.options" />
        <activity android:name=".Views.change_password" />
        <activity android:name=".Views.change_username" />
        <activity android:name=".Views.change_email" />
        <activity android:name=".Views.cardViewAdapter" />
        <activity android:name=".Views.instructor_menu" />
        <activity android:name=".Views.admin_menu" />
        <activity android:name=".Views.quizzes" />
        <activity android:name=".Views.quiz_categories"></activity>
    </application>

</manifest>